.pirate {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pirate-head {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
}

.pirate-eyepatch {
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 70px;
    background-color: black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translate(50px, -20px);
}

.pirate-eyepatch-strap {
    position: absolute;
    box-sizing: border-box;
    width: 155px;
    height: 245px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-right-color: transparent;
    border-top-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(100px, -50px);
}

.pirate-eye {
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50px, -30px);
}

.pirate-mouth {
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 10px;
    background-color: red;
    transform: translate(0px, 100px);
}