.pokemon {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.btn-pokemon {
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: yellow;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-pokemon:hover {
    background-color: white;
    color: yellow;
}

.pokeball {
    animation: 0.5s pokeball-shaking infinite;
}

@keyframes pokeball-shaking {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}