.fan {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fan-spinning 50ms linear infinite;
}

.fan-blade-center {
  font-size: 50px;
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
}

.fan-blade {
  font-size: 50px;
  position: absolute;
  width: 1.5em;
  height: 2em;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.fan .fan-blade:nth-child(4n+1) {
  background-color: yellow;
  transform: rotate(0deg) translate(0%, 100%);
}

.fan .fan-blade:nth-child(4n+2) {
  background-color: red;
  transform: rotate(90deg) translate(0%, 100%);
}

.fan .fan-blade:nth-child(4n+3) {
  background-color: green;
  transform: rotate(180deg) translate(0%, 100%);
}

.fan .fan-blade:nth-child(4n+4) {
  background-color: blue;
  transform: rotate(270deg) translate(0%, 100%);
}

@keyframes fan-spinning {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}